html,
body {
  /*   margin: 0;
  background: #000;
  height: 30rem; */
  font-family: "Raleway", sans-serif;
  background-color: black;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
  color: white;
}

.container-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

small {
  font-size: 2rem;
}
span {
  font-size: 4em;
}
footer {
  opacity: 0.7;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  transition: 0.6s background;
}
a:hover {
  background: rgba(0, 0, 0, 0.9);
}
